body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

section {
  padding: 60px 20px;
  text-align: center;
}

h1, h2 {
  color: #38bdf8;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.btn {
  background: #38bdf8;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #020617;
  position: sticky;
  top: 0;
}

.nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.skills-grid, .projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 8px;
}

footer {
  background: #020617;
  padding: 20px;
}
footer p {
  margin: 0;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  background: #334155;
}

.card1{
  border-radius: 8px;
  text-decoration: none;
  color: white;
  transition: 0.3s;

}
